/mnist-dataset.zip
/data/mnist-dataset.zip
/.DS_Store
/data/FashionMNIST/raw
/notebooks/.DS_Store
/notebooks/model_weights.pth
/data/MNIST/raw
/notebooks/data/MNIST/raw
/.gradio
/cnn_weights.pt
/data/.DS_Store
/data/MNIST/.DS_Store
/src/__pycache__
